<span class="text-center">
    <form class = "signin" action="/sign" method="post">
        <label for="fname">Email:</label>
        <input type="text" name="email" placeholder="John" maxlength="25">
        <input type="password" name="pw" placeholder="123456">
        <input class ="blue_btn" type="submit" value="Sign In">
    </form> 
    <div class="space-x-8 ">
        <a class = "hover:text-mainLightColor" href="/register">Join Voyager Book</a>
        <a class = "hover:text-mainLightColor" href="#">Forget password?</a>
    </div>
</span>