{% extends '_base.html' %} {% block base %}

<h1 class=" text-center text-3xl">Welcome to our site!</h1>


<h4 class="mx-7 text-center">
  Here, you can share your travel experiences and help others plan their next
  adventure. Whether you're a seasoned traveler or just starting out, our
  platform makes it easy to create a list of the countries you've visited, leave
  reviews and tips, and connect with others who share your passion for exploring
  the world.
</h4>

<h4 class="mx-7 mt-4 text-center">
  With our interactive map, you can easily track your travels and see where
  other users have been. You can also search for specific destinations, read
  reviews from fellow travelers, and find inspiration for your next trip.
</h4>

<p class="mx-10 mt-4 text-center">
  Our community is dedicated to helping each other discover new places and
  create unforgettable memories. So whether you're looking for advice on the
  best places to stay, eat, or explore, or just want to share your own
  experiences, we're here to help. Join us today and start exploring the world!
</p>
{% endblock %}
